{% extends 'layout.html' %}


{% block 'container' %}


<div class="p-24">
  
  <form class="" action="" method="get" accept-charset="utf-8" >
    <div class="flex border-4 border-orange-500 p-3 items-center justify-between rounded-full max-w-[600px] ">
      <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" class="text-orange-600"><g fill="none" fill-rule="evenodd"><path d="M24 0v24H0V0zM12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035c-.01-.004-.019-.001-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427c-.002-.01-.009-.017-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093c.012.004.023 0 .029-.008l.004-.014l-.034-.614c-.003-.012-.01-.02-.02-.022m-.715.002a.023.023 0 0 0-.027.006l-.006.014l-.034.614c0 .012.007.02.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01z"/><path fill="" d="M10.5 4a6.5 6.5 0 1 0 0 13a6.5 6.5 0 0 0 0-13M2 10.5a8.5 8.5 0 1 1 15.176 5.262l3.652 3.652a1 1 0 0 1-1.414 1.414l-3.652-3.652A8.5 8.5 0 0 1 2 10.5M9.5 7a1 1 0 0 1 1-1a4.5 4.5 0 0 1 4.5 4.5a1 1 0 1 1-2 0A2.5 2.5 0 0 0 10.5 8a1 1 0 0 1-1-1"/></g></svg>
      <input type="search" name="" id="" value=""  placeholder="Search here ..." class="outline-0 border-none bg-transparent w-full text-lg "/>
      <button type="submit" class="bg-orange-600  text-orange-50 rounded-full">
        <svg xmlns="http://www.w3.org/2000/svg" width="2em" height="2em" viewBox="0 0 32 32"><path fill="currentColor" d="m18.72 6.78l-1.44 1.44L24.063 15H4v2h20.063l-6.782 6.78l1.44 1.44l8.5-8.5l.686-.72l-.687-.72z"/></svg>
      </button>
    </div>

  </form>
  
  <div class="mt-20 shadow-lg bg-gray-50 p-4 ">
    <ul role="list" class="divide-y divide-gray-100">
      <li class="flex space-x-6 bg-gray-100 hover:bg-gray-200 p-2 ">
        <div class="flex items-center justify-center p-1">
          <img class="h-20 w-20 rounded-full ring-2 ring-white" src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
        </div>
        <div class=" flex flex-col p-3 w-full">
        <div class="flex w-full  justify-between">
          
        
        <p class="text-md font-semibold leading-6 text-gray-900">Leslie Alexander</p>
        <p class="font-semibold leading-6 text-gray-800">
          Developer 
        </p>
        </div>
        <p class="mt-1 truncate text-sm leading-5 text-gray-500">leslie.alexander@example.com</p>
        <span class="p-1 ml-auto border font-semibold border-green-400 rounded text-green-400 text-sm ">Available</span>
      </div>
       
        
      </li>
      
    </ul>
  </div>
  
  
</div>


{% endblock %}