{% extends 'layout.html' %}


{% block 'container' %}


<div class="p-24">
  
  <form class="mx-auto w-full flex space-x-4 items-center justify-center px-10 "action="" method="POST" accept-charset="utf-8" >
    {% csrf_token %}
   <label for="states" class="sr-only">Choose a state</label>
      <select id="states" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg border-s-gray-100 dark:border-s-gray-700 border-s-2 focus:ring-blue-500 focus:border-blue-500 block w-fit p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" name="district">
          <option selected>Choose a district</option>
          {% for district in districts %}
          <option value="{{ district }}">{{ district }}</option>
          {% endfor %}
      </select>

    <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
    <div class="relative w-full">
        <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
            <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
            </svg>
        </div>
        <input type="search" id="default-search" class="block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Search Job, Name, Works..." name='search_key'/>
        <button type="submit" class="text-white absolute end-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Search</button>
    </div>


  </form>
  
  
  
  <div class="mt-20 shadow-lg bg-gray-50 p-4 ">
    <ul role="list" class="divide-y divide-gray-200 space-y-3">
      
      {% for worker in workers %}
      {% if not worker.user_id.id == request.user.id %}
       <a href="{% url 'worker' worker.id %}" >
      <li class="flex space-x-6 bg-gray-100 hover:bg-gray-200 p-2 ">
        <div class="flex items-center justify-center p-1">
          <img class="h-20 w-20 rounded-full ring-2 ring-white" src="{{ worker.avatar.url }}" alt="">
        </div>
        <div class=" flex flex-col p-3 w-full">
        <div class="flex w-full  justify-between">
          
        
        <p class="text-md font-semibold leading-6 text-gray-900">{{ worker.name }}</p>
        <p class="font-semibold leading-6 text-gray-800">
          {{ worker.job_title }}
        </p>
        </div>
        <p class="mt-1 truncate text-sm leading-5 text-gray-500">{{ worker.user_id.email }}</p>
        {% if worker.is_available %}
        <span class="p-1 ml-auto border font-semibold border-green-400 rounded text-green-400 text-sm ">Available</span>
        {% else %}
        
        
           <span class="p-1 ml-auto border font-semibold border-red-400 rounded text-red-400 text-sm ">Not Available</span>
        {% endif %}
        
      </div>
       
        
      </li>
      </a>
      {% endif %}
      
      {% endfor %}
    </ul>
  </div>
  
  
</div>


{% endblock %}