{% extends 'layout.html' %}


{% block 'container' %}

<div class="p-24 text-6xl font-bold text-center " >
  <p class="leading-normal">
  Workersweb is where,<br />finding <span class="bg-orange-500 text-orange-50 p-1">worker</span>
  made easy
  </p>
  <p class="text-2xl text-gray-600 mt-10 text-center">
    A genuine platform for finding job and worker
  </p>
  <ul class="text-xl text-gray-600 mt-10 text-center w-fit p-10 mx-auto">
    <li class="flex items-center justify-start g-2"><svg xmlns="http://www.w3.org/2000/svg" width="38" height="38" viewBox="0 0 24 24"><path fill="none" stroke="#71e827" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M5 14.5s1.5 0 3.5 3.5c0 0 5.559-9.167 10.5-11" color="#71e827"/></svg><span>100% certified workers</span></li>
    <li class="flex items-center justify-start g-2"> <svg xmlns="http://www.w3.org/2000/svg" width="38" height="38" viewBox="0 0 24 24"><path fill="none" stroke="#71e827" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M5 14.5s1.5 0 3.5 3.5c0 0 5.559-9.167 10.5-11" color="#71e827"/></svg><span>authorised profiles</span></li>
    <li class="flex items-center
     justify-start g-2"> <svg xmlns="http://www.w3.org/2000/svg" width="38" height="38" viewBox="0 0 24 24"><path fill="none" stroke="#71e827" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M5 14.5s1.5 0 3.5 3.5c0 0 5.559-9.167 10.5-11" color="#71e827"/></svg><span >security for your work </span></li>
    <li class="flex items-center justify-start g-2"> <svg xmlns="http://www.w3.org/2000/svg" width="38" height="38" viewBox="0 0 24 24"><path fill="none" stroke="#71e827" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M5 14.5s1.5 0 3.5 3.5c0 0 5.559-9.167 10.5-11" color="#71e827"/></svg><span class="text-start">security for your job</span> </li>
  </ul>
  
  <a class="bg-green-600 text-lg text-green-50 tracking-2 px-3 py-2 rounded-md hover:bg-emerald-600 shadow " href="#">find worker >></a>
  
</div>


{% endblock %}