
{% extends 'layout.html' %}


{% block 'container' %}

<div class="px-24 py-20 ">
    
    <div class="">
        <h1 class="text-3xl text-gray-800">Jobs </h1>
        <div class="bg-gray-100 p-4 shadow mt-8" role="list">
            <ul class="divide-y-2 divide-gray-300">
                {% for work in works %}
                {% if work.worker.user_id == request.user or work.work_by == request.user %}
                <li class="bg-stone-100   space-y-2 flex justify-between p-4 m-4 hover:bg-slate-200 transition-colors ">
                    <div class="">
                        <p class="text-xl font-bold">{{ work.name }}</p>
                        <p class="text-md font-semibold text-gray-700 ">{{ work.desc }}</p>
                        {% if work.worker == request.user %}

                        <p class=" text-md font-mono font-normal text-gray-700">worker:<a href="{% url "worker" work.worker.id %}">{{ work.worker }}</a></p>
                        {% else %}
                        <p class=" text-md font-mono font-normal text-gray-700">work by : <a href="#">{{ work.work_by }}</a></p>

                        {% endif %}
                    </div>
                    <div>
                        {% if work.status %}
                        <span class="text-sm border border-green-600 bg-green-300 text-green-800 font-mono rounded-full p-2 font-semibold ">completed</span>
                        {% elif not work.status and not work.is_cancelled %}
                        <span class="text-sm border border-stone-600 bg-stone-300 text-stone-800 font-mono rounded-full p-2 font-semibold ">not completed</span>
                        {% else %}
                        <span class="text-sm border border-red-600 bg-red-300 text-red-800 font-mono rounded-full p-2 font-semibold ">state</span>

                        {% endif %}
                    </div>    
                </li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>

</div>

{% endblock %}